name: Run Tests (PR & manual)

on:
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install build tools
        run: python -m pip install --upgrade pip

      - name: Install (dependencies)
        run: pip install ".[build,test]"

      - name: Run tests
        run: pytest